.background-red {
    background-color: red;
}

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

.background-orange {
    background-color: orange;
}